body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

header {
  display: flex;
  height: 80px;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10px 0 100px;
  max-width: 1300px;
  margin: auto;
  background-color: #0171f9;
  color: #fff;
}

.logo {
  width: 150px;
  border-radius: 50px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  background-color: #0171f9;
  color: #fff;
}
.navbar ul {
  display: flex;
  margin: 0;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #0171f9;
  color: #fff;
}

.navbar ul li {
  list-style: none;
  padding: 10px;
}

.navbar ul li a {
  text-decoration: none;
  color: #fff;
}

.navbar ul li a:hover {
  color: #ffffff;
  background-color: #1a7ff9;
  border-radius: 50px;
  padding: 10px;
  transition: all 0.3s ease;
}

.buttons {
  background-color: #ee626b;
  height: 52px;
  color: #fff;
  border: none;
  text-transform: uppercase;
  padding: 0 20px;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease;
  &:hover {
    background-color: #9e4147;
  }
}

.home-section {
  background-color: #0171f9;
  border-radius: 0 0 100px 100px;
}

.landing-page-section {
  display: flex;
  color: #fff;
  padding: 100px 0;
  max-width: 1300px;
  margin: auto;
}

.landing-page-section .welcom {
  font-size: x-large;
  height: 10px;
}

.landing-page-section .slogan {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 50px;
}

.landing-page-section .description {
  color: black;
  width: 80%;
  font-weight: 500;
}

.searchBar {
  position: relative;
  margin-top: 100px;
}

.searchBar input {
  border-radius: 100px;
  border: none;
  outline: none;
  width: 40%;
  height: 50px;
  font-size: large;
  padding-left: 20px;
}

.searchBar input::placeholder{
    font-size: medium;
}

.searchBar .searchbtn{
    position: absolute;
    left: 300px;
}

.leftSide{
    padding-top: 30px;
    flex: 8;
}

.imageContainer{
    flex: 4;
}

.imageContainer img{
    width: 100%;
    border-radius: 20px;
}
/* ending landing section */

/* trending section */

.trending-section{
    margin: auto;
    max-width:1300px;
    margin-top: 100px ;
}

.trendingHeader{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 40px ;
}

.trendingHeader h1, .mostHeader h1, .categoryHeader h1 {
    margin-top: 0;
}

.trending-section span, .mostContainer span, .categoryHeader span {
    text-transform: uppercase;
    color: #EE626B;
    font-weight: 600;
}

.trendingCard, .mostCards, .categoryCards{
    display: flex;
    justify-content: space-between;
}

.trendingCard .card {
    position: relative;
}

.trendingCard .card img {
    border-radius: 20px;
}

.trendingCard .card .cardInfo {
    position: absolute;
    top: 200px;
    width: 100%;
    background-color: #EEEEEE;
    border-radius: 0 0 20px 20px;
    padding-top: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.trendingCard .card .cardName {
    padding: 0 20px;
}

.trendingCard .cardName h3 {
    margin-top: 0;
}

.trendingCard .cardName p {
    color: gray;
    margin-bottom: 0;
}

.trendingCard .cardInfo .icon img {
    width: 50px;
    transition: .3s;
}

.trendingCard .cardInfo .icon {
    margin-right: 20px;
}

.trendingCard .cardInfo img:hover{
    transform: scale(1.3);
}

/* ending trending section */
